/* --- General --- */
html{
    background: url(../images/stars.jpg) left top repeat;
    background-size: auto 30%;
}

body{
  font-family: "lato";
  color: #fff;

  background-color: #000;
  background: url(../images/planetUp.jpg) right top no-repeat, url(../images/planetDown.jpg) right bottom no-repeat;
  background-size: auto 50%;

  margin: 0;
  padding: 0;

  min-height: 300vh;

}

/* --- Navbar --- */
#navbar.container {
  border: none;
  border-radius: 0;

  width: 100vw;

  margin: 0 0 5vh 0;
  padding: 0 10vw;

  background-color: #000;
}

.region-navigation {
  display: flex;
  align-items: center;
}

.navbar-nav > li > a {
  line-height: 45px;
}

.region-navigation, menu {
  display: flex;
  align-items: center;
}

/* --- Main page logo --- */
.region-header .name.navbar-brand {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 4em;
  margin: 3.5% 0;
  float: none;
}

.region-header .logo img {
  width: 25%;
  margin: auto;
  display: block;
}

.region-header .logo {
  float: none !important;
  display: block;
  width: 100%;
}

/* --- Media Queries --- */
@media screen and (min-width: 1200px) {
  .navbar.container {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .navbar.container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .navbar.container {
    max-width: 100%;
  }
}

/* --- Become a Member Button ---*/
.menu--account .first a {
  background: #d0802f;
  padding: 5px 25px;
  margin: 10px 20px;
  border-radius: 30px;
  color: white !important;
  transition: .5s;
}

.menu--account .first a:hover {
  background: #ff972d !important;
}

/* --- Imports --- */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
