/* --- General --- */
html{
  background: url(../images/stars.jpg) left top repeat;
  background-size: auto 70vh;
}

body{
  font-family: "lato";
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 200vh;
}

/* --- background --- */
body{
  background-color: #000;
  background: url(../images/planetUp.jpg) right top no-repeat, url(../images/planetDown.jpg) right bottom no-repeat, url(../images/black.jpg) right no-repeat;
  background-size: auto 100vh, auto 100vh, 89vh 100%;
}

/* --- Navbar --- */
#navbar.container {
  border: none;
  border-radius: 0;

  width: 100vw;

  margin: 0 0 5vh 0;
  padding: 0 10vw;

  background-color: #000;
}

.region-navigation {
  display: flex;
  align-items: center;
}

.navbar-nav > li > a {
  line-height: 45px;
}

.region-navigation, menu {
  display: flex;
  align-items: center;
}

/* --- Main page logo --- */
.region-header .name.navbar-brand {
  display: block;
  width: 100%;
  height: auto;
  margin: 3.5% 0;
  float: none;
  text-align: center;
  color: #fff;
  line-height: inherit;
}

.region-header .logo img {
  width: 25%;
  margin: auto;
  display: block;
}

.region-header .logo {
  float: none !important;
  display: block;
  width: 100%;
}

/* --- Become a Member Button ---*/
.menu--account .first a {
  background: #d0802f;
  padding: 5px 25px;
  margin: 10px 20px;
  border-radius: 30px;
  color: white !important;
  transition: .5s;
}

.menu--account .first a:hover {
  background: #ff972d !important;
}

/* --- Media Queries --- */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (orientation : landscape) {
  .navbar.container {
    max-width: 100%;
  }
  .region-header .navbar-brand {
    font-size: 4em;
  }
  .region-header .logo img {
    width: 25%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) and (orientation : portrait) {
  /* --- Navbar --- */
  .navbar.container {
    max-width: 100%;
  }
  
  .menu--account .first a {
    margin: 10px 0px;
  }

  /* --- Main Logo --- */
  .region-header .navbar-brand {
    font-size: 3em;
  }
  
  .region-header .logo img {
    width: 55%;
  }

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .navbar.container {
    max-width: 100%;
  }

  .region-header .navbar-brand {
    font-size: 5.5em;
  }
  
  .region-header .logo img {
    width: 40%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  .navbar.container {
    max-width: 100%;
  }

  .region-header .navbar-brand {
    font-size: 5.5em;
  }
  .region-header .logo img {
    width: 40%;
  }
}
/* --- Imports --- */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
